<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<p>{{content}}</p>
<form action="/add" method="post">
	Выберите сайт: <input type="radio" name="site" value="{{s1}}">{{s1}}
	               <input type="radio" name="site" value="{{s2}}">{{s2}}
	               <input type="radio" name="site" value="{{s3}}">{{s3}}
	<br><br>
	Количество новостей: <select name="sum">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
	                     </select>
	<br><br>
	<input type="submit" value="Узнать">
</form>

</body>
</html>