<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>


<i>{{num1}} :</i><span> {{task1}} </span>
<a href="/do?{{num1}}" title="Сделано">DO</a> // 
<a href="/update?{{num1}}" title="Изменить">R</a> // 
<a href="/delete?{{num1}}" title="Удалить">X</a><br>

<i>{{num2}} :</i><span> {{task2}} </span>
<a href="/do?{{num2}}" title="Сделано">DO</a> // 
<a href="/update?{{num2}}" title="Изменить">R</a> // 
<a href="/delete?{{num2}}" title="Удалить">X</a><br>

<i>{{num3}} :</i><span> {{task3}} </span>
<a href="/do?{{num3}}" title="Сделано">DO</a> // 
<a href="/update?{{num3}}" title="Изменить">R</a> // 
<a href="/delete?{{num3}}" title="Удалить">X</a><br>

<i>{{num4}} :</i><span> {{task4}} </span>
<a href="/do?{{num4}}" title="Сделано">DO</a> // 
<a href="/update?{{num4}}" title="Изменить">R</a> // 
<a href="/delete?{{num4}}" title="Удалить">X</a><br>


<i>{{num5}} :</i><span> {{task5}} </span>
<a href="/do?{{num5}}" title="Сделано">DO</a> // 
<a href="/update?{{num5}}" title="Изменить">R</a> // 
<a href="/delete?{{num5}}" title="Удалить">X</a><br>

<i>{{num6}} :</i><span> {{task6}} </span>
<a href="/do?{{num6}}" title="Сделано">DO</a> // 
<a href="/update?{{num6}}" title="Изменить">R</a> // 
<a href="/delete?{{num6}}" title="Удалить">X</a><br>


<br><br>
<form method="post" action="/add">
<input type="text" name="newTask">
<input type="submit" value="Add"> 
</form>

</body>
</html>