<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>


<input type="checkbox"><i>{{num1}} :</i><span> {{task1}} </span><a href="#" title="Изменить">R</a>//<a href="#" title="Удалить">X</a><br>

<input type="checkbox"><i>{{num2}} :</i><span> {{task2}} </span><a href="#" title="Изменить">R</a>//<a href="#" title="Удалить">X</a><br>

<br><br>
<form method="post" action="/add">
<input type="text" name="newTask">
<input type="submit" value="Add"> 
</form>

</body>
</html>